

.error {
  color: red;
}
.success {
  color: green;
}
.info {
  color: blue;
}
.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}